body{
  margin: 0;
  padding: 0;
  background: url(images/eye.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'futura bold',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 70px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  font-size: 20px;
  font-family: 'futura medium',sans-serif;
  text-align: justify;
}
.box
 h6{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.img-collage{
  width: 450px;
  height: 350px}
  }
  .box p{
    font-size: 20px;
    font-family: 'futura medium',sans-serif;
    text-align: justify;

 }

 .img-magazines{
   width: 450px;
   height: 350px}

   .box
    h6{
     font-size: 30px;
     letter-spacing: 3px;
     font-weight: 100;

}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
